!!! 5
%html{lang: "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title
      -
      #{current_page.data.title}
      \|
      = data.site.title
  %body
    %h1
      = current_page.data.title
    = yield
