%ul.text-center.footer-social
  %li
    = link_to('https://twitter.com/gitlab') do
      %i.fab.fa-twitter
      %span.sr-only Twitter
  %li
    = link_to('https://www.facebook.com/gitlab') do
      %i.fab.fa-facebook
      %span.sr-only Facebook
  %li
    = link_to('https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg') do
      %i.fab.fa-youtube
      %span.sr-only YouTube
  %li
    = link_to('https://www.linkedin.com/company/gitlab-com') do
      %i.fab.fa-linkedin
      %span.sr-only LinkedIn
